{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "spread": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["prettier"]
}
